html,
body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 3px;
}

/* loader accueil */
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #A1A1A1;
    border-bottom: 2px solid #A1A1A1;
    border-right: 2px solid #A1A1A1;
    margin: 10rem auto;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.loader-mini {
    border: 2px solid currentColor;
    border-radius: 50%;
    border-top: 2px solid #A1A1A1;
    display: inline-block;
    margin-bottom: -1px;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.loader-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* INTRO */

.introjs-helperNumberLayer {
    top: 30px;
    left: 50px;
}

.introjs-tooltip {
    min-width: 300px;
}

/*  TABULATOR */

.footerInfo {
    float: left;
    color: #555;
    font-weight: normal;
}

.tabulator-page {
    color: #555 !important;
}

select.tabulator-page-size {
    max-width: 60px !important;
}

/* PICNIC COMPLEMENT */
/* https://github.com/franciscop/picnic */

select {
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjMiPjxwYXRoIGQ9Im0gMCwxIDEsMiAxLC0yIHoiLz48L3N2Zz4=) no-repeat scroll 95% center/8px 10px !important;
}

.mainButton {
    background: rgb(16, 16, 16);
}

.unclickable {
    cursor: default;
}

.large {
    font-size: 1.5em;
}

.medium {
    font-size: 1em;
}

.small {
    font-size: .70em;
}

#toolbar-grids{
    padding: 10px;
    background-color:lightgrey;
    border-radius: 5px
}

[type="checkbox"] + .checkable::before, 
[type="radio"] + .checkable::before {
    border-color: rgb(26, 26, 26);
}


#encodingSelect {
    max-width: 120px;
}

.labelFileInput {
    cursor: pointer;
}

#delimiterSelect {
    max-width: 100px;
    font-weight: 900;
}

#delimiter-input::placeholder {
    color: rgb(20, 20, 20);
    font-size: 1.5em;
    line-height: 2.5;
}

#urlInput {
    /* position: absolute;
    top: 10px; */
    margin-left: .5rem;
    white-space: nowrap;
    margin-right: 1em;
    min-width: 200px;
    max-width: 35%;
}

#fileInput {
    /* opacity: 0; */
    /* position: absolute; */
    float: right;
    z-index: -1;
    max-width: 250px;
}

@media (max-width: 768px) {
    #urlInput {
        max-width: 350px;
    }

    #fileInput {
        max-width: 250px;
    }
}

@media (max-width: 360px) {
    #urlInput {
        max-width: 220px;
    }

    #fileInput {
        max-width: 200px;
    }
}

label {
    white-space: nowrap;
    margin-right: .5em;
    padding: 2px;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

/* MAIN */

.blink {
    animation-duration: 1s;
    animation-name: blinker;
    animation-direction: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.shaker {
    animation: shake 0.75s cubic-bezier(.36, .07, .19, .97) both;
    background-color: #FFE5E4;
    /*  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;*/
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* SWEETALERT table pvt */

.swal-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 1px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s, -webkit-transform .3s;
    transition: transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s, -webkit-transform .3s;
}

/* .swal-content {
    background-color: #E6F5F5;
    padding: 2px;
    border: #BED7F5 solid 1px;
    border-radius: 5px;
    display: block;
    margin: 5px;
    text-align: justify;
    color: #1a1a1a;
} */

.swal-footer {
    text-align: right;
    padding-top: 0px;
    margin-top: 2px;
    padding: 13px 16px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.swal-button {
    background-color: rgb(16, 16, 16) !important;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

.swal-content h4 {
    text-align: center;
}

.swal-button {
    padding: 2px 5px;
}

.sweetalert-lg {
    width: 800px;
}

.sweetalert-auto {
    width: auto;
}

.sweetalert-img {
    text-align: center;
    width: 1024px;
}

.sweetalert-table {
    text-align: center;
    width: 1366px;
}

/*  for create table */
/* .checkboxColumn > input[type=checkbox] {
    width:15px; 
    opacity: 1; 
    height: 1.5em;
    position: absolute;
    display: inline-block;
} */

table.pvtTable {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
}

table.pvtTable thead tr th {
    background-color: #fff;
    color: rgb(17, 17, 17);
    border: 1px solid #CDCDCD;
    padding: 2px;
}

table.pvtTable thead tr th:first-child {
    width: auto;
    min-width: 20px;
}

table.pvtTable tbody tr th {
    background-color: #fff;
    color: rgb(17, 17, 17);
    border: 1px solid #CDCDCD;
    padding: 2px;
    text-align: left;
    vertical-align: top;
}

table.pvtTable tbody tr td {
    color: rgb(17, 17, 17);
    padding: 2px;
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    vertical-align: top;
}

table.pvtTable tbody tr td:first-child {
    width: auto;
    min-width: 20px;
}

table.headers-config {
    margin-left: none !important;
}

table.headers-config thead tr th:first-child,
table.headers-config tbody tr td:first-child {
    width: .1em;
    min-width: .1em;
    max-width: .1em;
    word-break: break-all;
}